aiohttp==3.7.3
aiohttp-devtools==0.13.1
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
click==7.1.2
devtools==0.6.1
idna==2.10
multidict==5.1.0
Pygments==2.7.3
python-dotenv==0.15.0
requests==2.25.1
slack-bolt==1.1.4
slack-sdk==3.1.0
soupsieve==2.1
tqdm==4.56.0
typing-extensions==3.7.4.3
urllib3==1.26.2
watchgod==0.6
yarl==1.6.3
